*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #000000;
  overflow: hidden;
}

@font-face {
  font-family: azonix;
  font-style: normal;
  src: url("../font/Azonix.otf") format("opentype");
}

h2, h4 {
  font-family: azonix;
  font-style: normal;
}

.cdd-frontpage{
  color: #ac3184;
}

.wux-frontpage{
  color: #2da8c8;
}

a {
  text-decoration: none;
  padding: 5rem;
}

#frontPage{
  position: relative;
  height: 100vh;
  display: flex;
}

html, body {
  max-width: 100% !important;
  overflow-x: hidden !important;
}

/* ===== Whole Page Container ===== */
/* .page-container {
  display: flex;
  justify-content: space-around;
  z-index: 1;
  background: #000000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
} */

/* ====== Colours for Class Buttons ====== */
.creative-container button {
  border: 3px solid #ac3184;
  background: none;
}


.web-container button {
  border: 3px solid #2da8c8;
  background: none;
}

button {
  margin-bottom: 5vh;
  width: 90%;
  border: none;
}

button:hover {
  cursor: pointer;
}

/* ====== Float Effect On Buttons ===== */
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

canvas:hover {
  cursor: pointer;
}

/* ===== Animation On Page Load ===== */
/* @keyframes slideInLeft {
        0% {
          transform: translateX(-100%);
        }
        100% {
          transform: translateX(0);
        }
      }

@keyframes slideInRight {
        0% {
          transform: translateX(100%);
        }
        100% {
          transform: translateX(0);
        }
      }

@keyframes slideInDown {
        0% {
          transform: translateY(-100%);
        }
        100% {
          transform: translateX(0);
        }
      }

@keyframes slideInUp {
        0% {
          transform: translateY(100%);
        }
        100% {
          transform: translateX(0);
        }
      } */

.creative-container {
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slideInLeft;


}

.web-container {
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slideInDown;
}


/* ===== Class Section Containers ===== */
.creative-container,
.web-container{
  /* display: flex; */
  /* flex-direction: column; */
  height: 100vh;
  width: 49vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items:flex-end;
  justify-content: center;
  margin: auto;
}

/* ====== Mobile Responsive ====== */
@media only screen and (max-width: 450px) {
    .page-container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100vh;
      }

    .creative-container,
    .game-container,
    .web-container,
    .animation-container {
      height: 23vh;
      width: 90vw;
      margin: auto;
      align-items: center;
    }

    button {
      margin-bottom: 0;
      width: 80%;
    }

    /* ===== Responsive Logo ===== */
    canvas {
      transform: scale(0.8) !important;
      position: relative;
      cursor: pointer;
      transition:all 1s ease;
      height: 200px;
      width: 320px;
      margin: auto;
    }

  }

/* ===== SHIFT Logo Animation Starts ===== */
.logo-center-wrap{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.logo-wrap{
  position: relative;
  width: 70vw;
  min-height: 100px;
}

.logo-layer{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  min-height: 100%;
}

.boxes{
  width: 105%;
  z-index: 3;
  transform: translate(-49.8%, -50.5%);
  animation:  flicker 1s cubic-bezier(0.470, 0.000, 0.745, 0.715) 1.8s infinite alternate;
}

.blue{
  z-index: 2;
  transform: translate(-50%, -50%);
}

.pink{
  z-index: 1;
  transform: translate(-49%, -49.9%);
  animation:  shift 1s cubic-bezier(0.470, 0.000, 0.745, 0.715) 1.8s infinite alternate;
}

.yellow{
  z-index: 0;
  transform: translate(-51%, -49.8%);
  animation:  shift 1s cubic-bezier(0.470, 0.000, 0.745, 0.715) infinite alternate;
}

@keyframes shift {
  0% {
      transform: translate(-51%, -49.8%);
  }
  14% {
      transform: translate(-51%, -49.8%);
  }
  15% {
      transform: translate(-49%, -49.8%);
  }
  49% {
      transform: translate(-49%, -49.8%);
  }
  50% {
      transform: translate(-51%, -49.8%);
  }
  99% {
      transform: translate(-51%, -49.8%);
  }
  100% {
      transform: translate(-49%, -49.8%);
  }
}

@keyframes flicker {
  0%{
      opacity: 1;
  }
  14%{
      opacity: 1;
  }
  15%{
      opacity: 0;
  }
  49%{
      opacity: 0;
  }
  50%{
      opacity: 1;
  }
  99%{
      opacity: 1;
  }
  100%{
      opacity: 0;
  }
}

/* stop animations if user has turned animations off */ 
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
      animation-delay: -1ms !important;
      animation-duration: 1ms !important;
      animation-iteration-count: 1 !important;
      background-attachment: initial !important;
      scroll-behavior: auto !important;
      transition-duration: 0s !important;
      transition-delay:  0s !important;
  }
}
/* ===== SHIFT Logo Animation Ends ===== */

/* ===== Front page background styling and animation Starts ===== */
.bg-layer{
  position: absolute;
  left: 50%;
  top: 50%;
  min-height: 100vh;
}

.blue-bg{
  animation: glide 70s ease-in-out infinite alternate;
  transform: translate(-40%, -50%);
  z-index: -1;
}

.purple-bg{
  animation: glide-alt 70s ease-in-out infinite alternate;
  transform: translate(-60%, -50%);
  z-index: -2;
}

.bg-box-layer{
  position: absolute;
  left: 50%;
  top: 50%;
  min-width: 100vw;
}

.purple-bg-boxes{
  transform: translate(-50%, -50%);
  z-index: 0;
  opacity: 0;
  animation:  bg-flicker 20s linear 2s infinite alternate;
}

.blue-bg-boxes{
  transform: translate(-50%, -50%);
  z-index: 0;
  opacity: 0;
  animation:  bg-flicker 20s linear 9s infinite alternate;
}

.yellow-bg-boxes{
  transform: translate(-50%, -50%);
  z-index: 0;
  opacity: 0;
  animation:  bg-flicker 20s linear 15s infinite alternate;
}

@keyframes glide {

  0%{
    transform: translate(-40%, -50%);
  }

  100%{
    transform: translate(-70%, -50%);
  }

}

@keyframes glide-alt {

  0%{
    transform: translate(-60%, -50%);
  }

  100%{
    transform: translate(-30%, -50%);
  }

}

@keyframes bg-flicker {
  0%{
    opacity: 0;
  }
  45%{
    opacity: 0;
  }
  46.7%{
    opacity: 1;
  }
  47%{
    opacity: 0;
  }
  49%{
    opacity: 1;
  }
  50%{
    opacity: 1;
  }
  51%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}

/* ===== Front page background styling and animation Ends ===== */